.item {
  min-width: 100%;
  min-height: 250px;
  transition: all 0.2s;
  position: relative;
  display: flex;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    .image {
      top: 15px;
    }
    .layer {
      opacity: 1;
    }

    .text {
      bottom: 30%;
      opacity: 1;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    min-width: 50%;
  }

  @media (min-width: 769px) and (max-width: 1440px) {
    min-width: 33.333333%;
  }
  @media (min-width: 1441px) and (max-width: 2000px) {
    min-width: 25%;
  }

  @media (min-width: 2001px) and ((max-width: 2560px)) {
    min-width: 20%;
  }

  @media (min-width: 2561px) and (max-width: 3000px) {
    min-width: 16.666666%;
  }
  @media (min-width: 3001px) {
    min-width: 12.5%;
  }
}

.ratio {
  position: relative;
  padding-top: 50%;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 130%;
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
  z-index: -1;
  transform: translateY(-20px);
  position: absolute;
  top: -15px;
}

.text {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 70%;
  transition: all 0.2s;
  opacity: 0;
}
