.header {
  position: fixed;
  height: 60px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  transition: top 300ms ease-out;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
  }

  &__nav {
    cursor: pointer;
    color: #1a1a1a;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 0.25em;
  }
}
